@index {
  <h3>About Scalabitz</h3>
  <p>Scalabitz shows Scala-related content that is currently popular on the web. It polls the
      <a href="http://dev.bitly.com/data_apis.html#v3_search">Bit.ly API</a> to find trending links.
      Once published on Scalabitz, the click-count for a link is updated periodically through the Bit.ly API.
  </p>
  <p>Publishing links is semi-automated: Scalabitz retrieves candidate links which are automatically scored
       on relevance. However, publishing to the frontpage is a manual action. The relevance scoring is done crudely and needs some
      improvement before I trust it to automatically push links to the frontpage...
  </p>
  <div class="panel">
     Watch <a href="http://branchandbound.net">my blog</a> to see how Scalabitz progresses.
  </div>
  <h5>Under the hood</h5>
  <p>Of course Scalabitz is built using Scala and with Play 2.1. MongoDB is used to store the data. The Play app accesses
     Mongo with the <a href="http://reactivemongo.org">ReactiveMongo</a> driver. This driver is fully asynchronous and meshes
     well with Play's async architecture. Calls to the Bit.ly API are also fully asynchronous using Play's
     <a href="http://www.playframework.com/documentation/2.1.1/ScalaWS">WS API</a>.
  </p>
  <p>Scalabitz is currently deployed on <a href="http://www.heroku.com">Heroku</a> where Mongo is hosted by
     <a href="http://www.mongohq.com">MongoHQ</a>.
  </p>
  <h5>Code?</h5>
  <p>Scalabitz is fully open-source and can be found on my <a href="">GitHub account</a>.</p>
}