@index {
  <h3>About Scalabitz</h3>
  <p>Scalabitz shows Scala-related content that is currently shared on the web. It polls the
      <a href="http://dev.bitly.com/data_apis.html#v3_search">Bit.ly API</a> to find relevant links.
      Once published on Scalabitz, the click-count for a link is updated periodically through the Bit.ly API. Links are shown
      in the order they are published. Read <a href="http://branchandbound.net/blog/data/2013/05/launching-scalabitz/">
          this blogpost</a> for a more detailed introduction to the project.
  </p>
  <div class="panel radius">
      In the near future Scalabitz will also publish new links directly to Twitter. Don't miss and start following:
   <br>
   <br>
   <a href="https://twitter.com/scalabitz" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @@scalabitz</a>
  </div>
  <h5>Curation</h5>
  <p>Publishing links is semi-automated: Scalabitz retrieves candidate links which are automatically scored
       on relevance. However, publishing to the frontpage is a manual action. The relevance scoring is done crudely and needs some
      improvement before I trust it to automatically push links to the frontpage...
  </p>
  <div class="panel radius">
     Watch <a href="http://branchandbound.net">my blog</a> to see how Scalabitz progresses.
  </div>
  <h5>Under the hood</h5>
  <p>Of course Scalabitz is built using Scala, with Play 2.1. MongoDB is used as datastore. The Play webapp accesses
     Mongo using the <a href="http://reactivemongo.org">ReactiveMongo</a> driver. This driver is fully asynchronous and meshes
     well with Play's async architecture. Calls to the Bit.ly API are also fully asynchronous using Play's
     <a href="http://www.playframework.com/documentation/2.1.1/ScalaWS">WS API</a>. Akka actors are used for all the scheduled jobs.
  </p>
  <p>Scalabitz is currently deployed on <a href="http://www.heroku.com">Heroku</a> and Mongo is hosted by
     <a href="http://www.mongohq.com">MongoHQ</a>.
  </p>
  <h5>Code?</h5>
  <p>Scalabitz is fully open-source and can be found on my <a href="https://github.com/sandermak/scalabitz">GitHub account</a> .
      Report issues or feature requests <a href="https://github.com/sandermak/scalabitz/issues">here</a>.
      Or ping <a href="https://twitter.com/Sander_Mak">me on Twitter</a>!</p>
}