<div class="panel">
    <p>Scalabitz uses <a href="http://bitly.com">bit.ly</a>'s API to find out what Scala content is shared around the web. <a href="@routes.Frontpage.about()">Read more.</a></p>


    <h5>Powered by</h5>

    <dl class="vertical tabs">
        <dd><a href="http://dev.bitly.com/data_apis.html#v3_search">Bit.ly API</a></dd>
        <dd><a href="http://www.scala-lang.org/2.10.1">Scala 2.10</a></dd>
        <dd><a href="http://www.playframework.com">Play 2.1</a></dd>
        <dd><a href="http://www.heroku.com">Heroku</a></dd>
    </dl>
    <a href="https://twitter.com/scalabitz" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @@scalabitz</a>
</div>